body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-gap: 5px;
    justify-content: center;
    margin: 20px;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #f4f4f4;
    border: 2px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: red;
}

.yellow {clear: ;
    background-color: yellow;
}

#resetGame {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#loadingText {
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}